@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700;800&display=swap');
*{
    font-family: 'Courier New', Courier, monospace;
}

.header{
    padding: 1rem 7%;
    /* position: fixed; */
    left: 0;
    right: 0;
    align-items: center;
    z-index: 100;
    background: #1d1d23;
}
.logo img{
    /* width: 120px; */
}
.navbar a{
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}
.navbar a:hover{
    color:rgb(255, 158, 97);
}
.icons div:hover{
    cursor: pointer;
}

.icons a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.5s;
    display: inline-block;
}
.login-btn:hover{
    transform: scale(1.1);
    background: rgb(255, 158, 97);
}